[submodule "OnEngine/Deps/spdlog"]
	path = OnEngine/Deps/spdlog
	url = https://github.com/gabime/spdlog
[submodule "OnEngine/Deps/GLFW"]
	path = OnEngine/Deps/GLFW
	url = https://github.com/glfw/glfw
[submodule "OnEngine/Deps/imgui"]
	path = OnEngine/Deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "OnEngine/Deps/glm"]
	path = OnEngine/Deps/glm
	url = https://github.com/g-truc/glm
